.container {
  font-family: 'Jost', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";

}
.grid-header {
  grid-area: header;
  background-color: rgba(177, 247, 224, 1);
  color: black;
  padding: .5rem;
  filter: drop-shadow(3px 2px 4px lightgrey);
}
.grid-main {
  grid-area: main;
  padding: 1rem;
}
.grid-footer {
  grid-area: footer;
  background-color: rgba(177, 247, 224, 1);
  padding: .5rem;
}
