.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
}
.grid-header {
  grid-area: header;
  background-color: black;
  color: white;
  padding: 1rem;
}
.grid-sidebar {
  grid-area: sidebar;
  background-color: grey;
  color: white;
  padding: 1rem;
}
.grid-main {
  grid-area: main;
  padding: 1rem;
}
.grid-footer {
  grid-area: footer;
  background-color: black;
  color: white;
  padding: 1rem;
}
img {
  max-width: 35%;
}
.product-display {
  display: flex;
  flex-flow: row wrap;
}
.product {
  padding: 1rem;
  height: auto;
	flex: 1 0 33.3333%;
	flex-basis: 250px;
	align-items: center;
	justify-content: center;
}
