.cartContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  align-items: center;
}
.list {
  flex: 3 1 60rem;
}
ul {
  list-style: none;
}
.itemImage {
  flex: 1 1;
}
.itemName {
  flex: 8 1;
}
.itemPrice {
  flex: 1 1;
  font-size: 1.5rem;
  text-align: right;
}
.total {
  flex: 1 1 20rem;
  background-color: rgba(177, 247, 224, .5);
  border-radius: 0.5rem;
  padding: 1rem;
}
.listContainer {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.listContainer li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;

}
.listContainer li img {
  max-width: 10rem;
  max-height: 10rem;
}
.listContainer li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cartButton {
  margin: 5px;
  filter: drop-shadow(2px 2px 1px yellow);
  width: 100px;
  height: 25px;
  border-radius: 15px;
  border: 0;
  background-color: black;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}
.removeButton {
  margin: 5px;
  filter: drop-shadow(2px 2px 1px grey);
  width: 100px;
  height: 25px;
  border-radius: 15px;
  border: 0;
  background-color: black;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}
.cartButton:hover {
  background-color: yellow;
  color: black;
}
.removeButton:hover {
  background-color: yellow;
  color: black;
}
@media screen and (max-width: 480px){
  .cartContainer {
    flex-flow: column wrap;
  }
  .listContainer li {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
  }
  .total {
    flex: none;
    background-color: rgba(177, 247, 224, .5);
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .list {
    flex: none;
  }
}
